<div class="px-4">
    <div>
        <h3>Select Equipment</h3>
        <div class="equipment-grid">
            <div *ngFor="let equipment of equipments">
                <div class="form-check mt-2">
                    <input
                        [(ngModel)]="selectedEquipment"
                        class="form-check-input"
                        type="radio"
                        name="equipment"
                        id="equipment-1"
                        value="{{ equipment.equipmentId }}"
                    />
                    <label class="form-check-label" for="equipment-1">
                        {{ equipment.equipmentName }} | €{{
                            equipment.equipmentPrice
                        }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5 gap-3">
        <button class="btn btn-secondary mt-3" type="button" (click)="goBack()">
            Back
        </button>
        <button
            class="btn btn-success mt-3"
            type="button"
            (click)="selectVehicleEquipment()"
        >
            Next
        </button>
    </div>
</div>
