<div class="px-5 py-5">
    <div class="paint-grid">
        <!-- INTERIOR PAINT -->
        <div class="">
            <h3>Select Interior Paint</h3>
            <div class="form-check mt-3">
                <input
                    class="form-check-input"
                    type="radio"
                    name="int-paint"
                    id="int-paint-1"
                    checked
                />
                <label class="form-check-label" for="int-paint-1">
                    Grey | €0
                </label>
            </div>
            <div class="form-check mt-3">
                <input
                    class="form-check-input"
                    type="radio"
                    name="int-paint"
                    id="int-paint-2"
                />
                <label class="form-check-label" for="int-paint-2">
                    Brown Leather | €23.80
                </label>
            </div>
        </div>
        <!-- EXTERIOR PAINT -->
        <div class="">
            <h3>Select Exterior Paint</h3>
            <div class="form-check mt-3">
                <input
                    class="form-check-input"
                    type="radio"
                    name="ext-paint"
                    id="ext-paint-1"
                    checked
                />
                <label class="form-check-label" for="ext-paint-1">
                    Red Metallic | €123.80
                </label>
            </div>
            <div class="form-check mt-3">
                <input
                    class="form-check-input"
                    type="radio"
                    name="ext-paint"
                    id="ext-paint-2"
                />
                <label class="form-check-label" for="ext-paint-2">
                    Black | €0
                </label>
            </div>
            <div class="form-check mt-3">
                <input
                    class="form-check-input"
                    type="radio"
                    name="ext-paint"
                    id="ext-paint-3"
                />
                <label class="form-check-label" for="ext-paint-3">
                    White | €0
                </label>
            </div>
        </div>
    </div>
    <!-- NEXT BUTTON -->
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-success mt-3" type="button">Next</button>
    </div>
</div>
