<div class="px-4">
    <div class="paint-grid">
        <!-- INTERIOR PAINT -->
        <div class="">
            <h3>Select Interior Paint</h3>
            <div *ngFor="let paint of interiorPaints; let i = index">
                <div class="form-check mt-2">
                    <input
                        [(ngModel)]="selectedInteriorPaint"
                        class="form-check-input"
                        type="radio"
                        name="int-paint-{{ paint.paintId }}"
                        id="int-paint-{{ paint.paintId }}"
                        value="{{ paint.paintId }}"
                    />
                    <label
                        class="form-check-label"
                        for="int-paint-{{ paint.paintId }}"
                    >
                        {{ paint.paintName }} |
                        {{ paint.paintPrice | currency : "EUR" }}
                    </label>
                </div>
            </div>
        </div>
        <!-- EXTERIOR PAINT -->
        <div class="">
            <h3>Select Exterior Paint</h3>
            <div *ngFor="let paint of exteriorPaints">
                <div class="form-check mt-2">
                    <input
                        [(ngModel)]="selectedExteriorPaint"
                        class="form-check-input"
                        type="radio"
                        name="ext-paint-{{ paint.paintId }}"
                        id="ext-paint-1-{{ paint.paintId }}"
                        value="{{ paint.paintId }}"
                    />
                    <label
                        class="form-check-label"
                        for="ext-paint-1-{{ paint.paintId }}"
                    >
                        {{ paint.paintName }} |
                        {{ paint.paintPrice | currency : "EUR" }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- NEXT BUTTON -->
    <div class="d-flex justify-content-center mt-5 gap-3">
        <button class="btn btn-secondary mt-3" type="button" (click)="goBack()">
            Back
        </button>
        <button
            class="btn btn-success mt-3"
            type="button"
            [disabled]="!(selectedInteriorPaint && selectedExteriorPaint)"
            (click)="selectVehiclePaint()"
        >
            Next
        </button>
    </div>
</div>
