<div class="py-5 px-5">
    <div class="content">
        <h3>Select Line</h3>
        <div class="form-check mt-3">
            <input
                class="form-check-input"
                type="radio"
                name="engine"
                id="engine-1"
                checked
            />
            <label class="form-check-label" for="engine-1">
                E 200 Cabriolet (GCC-Standard) | 130 kw (125 HP) 4 Cylinder |
                €44,053.80
            </label>
        </div>
        <div class="form-check mt-3">
            <input
                class="form-check-input"
                type="radio"
                name="engine"
                id="engine-2"
            />
            <label class="form-check-label" for="engine-2">
                E 300 Cabriolet (GCC-Standard) | 180 kW (245 HP) 4 Cylinder |
                €64,053.80
            </label>
        </div>
        <div class="form-check mt-3">
            <input
                class="form-check-input"
                type="radio"
                name="engine"
                id="engine-3"
            />
            <label class="form-check-label" for="engine-3">
                E 400 4Matic Cabriolet (GCC-Standard) | 245 kW (333 HP) V6
                Cylinder | €85,053.80
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-success mt-3" type="button">Next</button>
    </div>
</div>
