.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-box {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 12rem;
}

@media print {
    .no-print {
        display: none !important;
    }
}