<div class="px-5">
    <div class="d-flex flex-column align-items-center gap-3">
        <h3>Welcome to Car Ordering System</h3>
        <p>You can</p>
        <div class="d-flex gap-3">
            <button class="btn btn-primary" (click)="newRequest()">
                Start New Request
            </button>
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#searchModal"
                class="btn btn-outline-primary"
            >
                Open Existing Request
            </button>
        </div>
    </div>

    <div
        class="modal fade"
        id="searchModal"
        tabindex="-1"
        aria-hidden="true"
        aria-labelledby="searchModalTitle"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="searchModalTitle">
                        Search an Existing Request
                    </h3>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <label for="requestId" class="form-label"
                        >Enter Request ID:
                    </label>
                    <input
                        type="number"
                        id="requestId"
                        class="form-control"
                        [(ngModel)]="searchRequestId"
                    />
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        (click)="searchRequest()"
                    >
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="requestNotFound"
        class="alert alert-danger alert-dismissible fade show mt-5"
    >
        Request of ID {{ searchRequestId }} Not Found
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
</div>
