<div class="d-flex flex-column gap-3">
    <h3 class="align-self-center">Quotation</h3>
    <div class="grid">
        <p>Customer Name</p>
        <p>Raj Karkhanis</p>
        <p>Phone Number</p>
        <p>9987348605</p>
        <p>Address</p>
        <p>Mumbai, MH</p>
        <p>Email ID</p>
        <p>rkarkhanis00@gmail.com</p>
    </div>
    <h4>Price Summary for E 200 Cabriolet</h4>
    <hr />
    <div class="grid">
        <p>Base Price</p>
        <p>€44,053.80</p>
        <p>Red Metallic Paint</p>
        <p>€123.80</p>
        <p>Brown Leather</p>
        <p>€23.80</p>
        <p>Purchse Price</p>
        <p>€44,201.40</p>
    </div>
    <div class="d-flex justify-content-center gap-3 py-3">
        <button class="btn btn-outline-primary">Email Offer</button>
        <button class="btn btn-primary">Print Offer</button>
        <button class="btn btn-success">Next</button>
    </div>
</div>
