<div>
    <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
        <div class="add-grid">
            <div>
                <label for="first-name" class="form-label mt-3"
                    >First Name</label
                >
                <div class="input-group">
                    <input
                        type="text"
                        id="first-name"
                        class="form-control"
                        formControlName="firstName"
                    />
                </div>
            </div>

            <div>
                <label for="last-name" class="form-label mt-3">Last Name</label>
                <div class="input-group">
                    <input
                        type="text"
                        id="last-name"
                        class="form-control"
                        formControlName="lastName"
                    />
                </div>
            </div>

            <div>
                <label for="phone" class="form-label mt-3">Phone</label>
                <div class="input-group">
                    <input
                        type="text"
                        id="phone"
                        class="form-control"
                        formControlName="phone"
                    />
                </div>
            </div>

            <div>
                <label for="email" class="form-label mt-3">Email</label>
                <div class="input-group">
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email"
                    />
                </div>
            </div>

            <div>
                <label for="address" class="form-label mt-3">Address</label>
                <div class="input-group">
                    <textarea
                        type="text"
                        id="address"
                        class="form-control"
                        formControlName="address"
                    ></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Search</button>
    </form>
</div>
