<div class="d-flex flex-column mt-3 px-5">
    <label for="order-number" class="form-label">Track Order Status</label>
    <input
        type="number"
        class="form-control"
        id="order-number"
        [(ngModel)]="orderNumber"
    />
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary" (click)="showOrderStatus()">
            Search
        </button>
    </div>
    <div
        *ngIf="orderNotFound"
        #notFoundAlert
        class="alert alert-danger alert-dismissible fade show mt-3"
    >
        Order of ID: {{ orderNumber }} not found
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            c
            (click)="hideAlert()"
        ></button>
    </div>
</div>
<div *ngIf="orderStatus !== ''" class="mt-5">
    <app-order-status [orderNumber]="orderNumber"></app-order-status>
</div>
