<div class="d-flex px-4 gap-4">
    <div>
        <h4>Search your desired vehicle</h4>
        <div class="filter-grid mt-3">
            <label for="model-select" class="form-label">Model</label>
            <select
                [(ngModel)]="selectedModel"
                id="model-select"
                class="form-select-sm"
            >
                <option selected>Select</option>
                <option *ngFor="let model of modelNames">{{ model }}</option>
            </select>
            <label for="vehicle-type-select" class="form-label"
                >Vehicle Type</label
            >
            <select
                [(ngModel)]="selectedBody"
                id="vehicle-type-select"
                class="form-select-sm"
            >
                <option selected>Select</option>
                <option *ngFor="let body of bodyNames">{{ body }}</option>
            </select>
            <label for="engine-type-select" class="form-label"
                >Engine Type</label
            >
            <select
                [(ngModel)]="selectedEngine"
                id="engine-type-select"
                class="form-select-sm"
            >
                <option selected>Select</option>
                <option *ngFor="let engine of engineNames">{{ engine }}</option>
            </select>
        </div>
        <button
            class="btn btn-primary mt-3"
            type="button"
            [disabled]="!(selectedModel || selectedBody || selectedEngine)"
            (click)="searchVehicles()"
        >
            Search
        </button>
    </div>
    <!-- MODEL TABLE -->
    <div class="table-responsive flex-fill">
        <table
            *ngIf="!emptyResponse"
            class="table table-striped table-hover table-bordered align-middle"
        >
            <thead>
                <tr>
                    <th scope="col">Model Type</th>
                    <th scope="col">Body</th>
                    <th scope="col">Engine</th>
                    <th scope="col">Price (€)</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let line of lines; let i = index">
                    <th scope="row">{{ line.lineName }}</th>
                    <td>{{ line.lineName.split(" ").pop() }}</td>
                    <td>{{ line.vehicleEngine.engineName }}</td>
                    <td>{{ line.linePrice | currency : "EUR" }}</td>
                    <td>
                        <button
                            class="btn btn-success"
                            (click)="selectVehicle(i)"
                        >
                            Select
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
